@font-face {
	font-family: "Pennstat";
	src: url(Pennstat.ttf) format("truetype");
}
@font-face {
	font-family: "digital";
	src: url(digital.ttf) format("truetype");
}
.header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.heading{
	font-family: "Pennstat", sans-serif;
	font-size: 60px;
	text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 0 9px 7px #504c4c;
}

.heading-section {
	font-family: "Impact", sans-serif;
	font-size: 130%;
}

.time {
	font-family: "digital", sans-serif;
	font-size: 30px;
}

.day {
	font-size: 20px;
	font-weight: 600;
}

.camel-case {
	text-transform: capitalize;
}

.error-message {
	display: none;
	color: red;
}
.delete:hover {
	background-color: red;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
}
