@font-face {
	font-family: "Pennstat";
	src: url(Pennstat.ttf) format("truetype");
}
@font-face {
	font-family: "digital";
	src: url(digital.ttf) format("truetype");
}
.header {
	padding: 20px;
	background: #f3feff url(../images/header-train.jpg) no-repeat;
	background-size: contain;
	border-bottom: #dcf6f9 solid 5px;
	margin-bottom: 50px;
}

.heading{
	font-family: "Pennstat", sans-serif;
	font-size: 50px;
	text-shadow: 0 1px 1px #ffffff, 0 2px 0 #aacce8, 0 3px 0 #76afe0, 0 7px 5px #4390d2;
}
.heading span {
	font-family: 'Righteous', cursive;
	font-size: 30px;
}

.heading-section {
	font-family: "Impact", sans-serif;
	font-size: 130%;
}

.current-time {
	text-shadow: 0 0 1px #fff;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 120%;
	color: #016281;
}

.time {
	font-family: "digital", sans-serif;
	font-size: 30px;
	color: black;
}

.day {
	font-size: 20px;
	font-weight: 600;
}

.camel-case {
	text-transform: capitalize;
}

.error-message {
	display: none;
	color: red;
}

.delete {
	background-color: #cc2e58;
}

.delete:hover {
	background-color: #db0840;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 81, 123, 0.6);
}

.edit {
	background-color: #3c9b57;
}

.edit:hover {
	background-color: #0eb53d;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 234, 125, 0.6);
}

#update {
	display: none;
}

.info {
	border-top: solid 1px #b8ebf1;
    background-color: #dcf6f9;
    font-size: 15px;
    margin-top: 30px;
    padding: 10px;
}
	    
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: solid 2px white;
  transition: all 0.3s ease-in-out;
}

.btn-social:hover,
.btn-social:focus{
  border: solid 3px #286090;
}
